modules = ["nodejs-20", "web"]

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Development"

[[workflows.workflow]]
name = "Build"
author = 42706880
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run build"

[[workflows.workflow]]
name = "Development"
author = 42706880
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev -- --hostname 0.0.0.0 --port 3000"

[[ports]]
localPort = 3000
externalPort = 80
